<div class="comments bg-slate-400">
  {{#each this}}
  <section class="comment bg-slate-400">
    <div class="m-5 py-2 px-4 text-xl h-auto bg-white text-red-900">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class= "m-5 py-2 px-4 text-sm h-auto bg-white text-red-900">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>