{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea class='text-black' name="comment-body" class=""></textarea>
  </div>

  <div>
    <button type="submit" class= "update-post-btn m-5 py-2 px-4 border-4 text-2xl border-green-300 h-12 bg-black text-green-300">add comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}